header{
	width: 100%;
	height: 50px;
	/*background-color: #ccc;*/
}

*{
	margin: 0px;
	padding: 5px;
}

/*--------------This is the side page--------------------*/
#side{
	border: 2px solid black;
	width: 100%;
	height: 700px;
	position: absolute;
    right: -1000px;
    transition: 1s;
}

#side:hover{
	transition: 1s;
    right: 0;
}

#side_wrapper{
	/*background-color: #ccc;*/
	width: 80%;
	height: 80px;
	margin: 0 auto;
	margin-top: 15%;
}

.side_items{
	font-family: "Aaux ProBold SC";
	border: 2px solid black;
	float: left;
	width: 21%;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
	padding:10px 0px;
}



#button_menu{
	background-color: #000;
	margin-top: 10px;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	float: right;
}



a{
	color: #000;
}
a:hover{
	
}

#logo {
	background-color: #000;
	margin-top: 10px;
	width: 160px;
	height: 40px;
	text-align: center;
	float: left;
}

#logo_title{
	font-family: "Sk-Modernist";
	font-size: 16px;
	/*width: 50%;*/
	color: #fff;
	padding-top: 10px;
	letter-spacing: 2px;
}




#main_text{
	font-size: 60px;
	font-family: "Aaux ProBold SC";
	width: 80%;
	height: 200px;
	/*border: 1px solid black;*/
	margin-left: 10%;
	margin-top: 13%;
}


#footer_text{
	font-size: 12px;	
	font-family: "Sk-Modernist";
	color: #fff;
	float: right;
	margin-right: 50px;
	padding-top: 5px;
}

footer{
	margin: 0px;
	background-color: #000;	
	width: 100%;
	height: 30px;
}
