<div id="about_right">
    <span class="letters">CO</span>
    <span class="letters">DE</span>
    <span  id="pink" class="letters">HA</span>
    <span class="letters">RD</span>
</div>

<div id="about_left">
        <h3>The dream team of code</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt vestibulum facilisis. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt vestibulum facilisis. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt vestibulum facilisis. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt vestibulum facilisis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt vestibulum facilisis. 
        </p>
</div>