<div id="about_right">
    <span class="letters">CO</span>
    <span class="letters">DE</span>
    <span  id="pink" class="letters">HA</span>
    <span class="letters">RD</span>
</div>

<div id="about_left">
        <h2>We Go Hard. We Code Hard</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt vestibulum facilisis. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt vestibulum facilisis. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt vestibulum facilisis. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt vestibulum facilisis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt vestibulum facilisis. 
        </p>
</div> 