
<h1 id="sendemail">SEND US AN EMAIL</h1>
<form method="post" action="response">  
	<input class ="input_t" id="formname" type="text" name="name" placeholder="Name">
	<input class ="input_t" id="formemail" type="text" name="email" placeholder="Email">
	<input class ="input_t" id="formsubject" type="text" name="subject" placeholder="Subject">
	<textarea id="formbody" type="textarea" name="textarea" placeholder="Text" required></textarea> <!-- 'required' is not necessary due to js file -->
	<input id="formsubmit" type="submit">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="contact.js"></script>




			