<h1 id="sendemail">SEND US AN EMAIL</h1>

<form method="post" action="response">  
	<input id="formname" type="text" name="name" placeholder="Name">
	<input id="formemail" type="text" name="email" placeholder="Email">
	<input id="formsubject" type="text" name="subject" placeholder="Subject">
	<input id="formbody" type="text" name="text" placeholder="Text">
	<input id="formsubmit" type="submit">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="contact.js"></script>