<p id="main_text">
	We are a creative agency <br>
	that codes with <span id="textChanged">.passion</span>
</p>

<div id="port_imgs">
	<img class="anchor" src="imgs/port1.jpg"/>
	<img class="anchor" src="imgs/port2.jpg"/>
	<img class="anchor" src="imgs/port3.jpg"/>
</div>



