<p id="main_text">
	We are a creative agency <br>
	that codes with <span id="textChanged">.passion</span>
</p>

<div id="port_imgs">
	<a class="main_img" href="#" data-imgurl="imgs/port1.jpg">
		<img class="anchor" src="imgs/port1.jpg"/>
	</a>

	<a class="main_img" href="#" data-imgurl="imgs/port2.jpg">
		<img class="anchor" src="imgs/port2.jpg"/>
	</a>

	<a class="main_img" href="#" data-imgurl="imgs/port3.jpg">
		<img class="anchor" src="imgs/port3.jpg"/>
	</a>
</div>

<script src="index.js" type="text/javascript"></script>

