<p id="main_text">
	We are a creative agency <br>
	that codes with <span id="textChanged">.passion</span>
</p>
<!-- 
<div id="port_imgs">
	<img class="anchor" src="imgs/port1.png"/>
	<img class="anchor" src="imgs/port2.png"/>
	<img class="anchor" src="imgs/port3.png"/>
</div>
 -->
<a href="#" class="anchor" data-imgurl="imgs/port1.png">
	<img src="imgs/port1.png"/>
</a>
<a href="#" class="anchor" data-imgurl="imgs/port2.png">
	<img src="imgs/port2.png"/>
</a>
<a href="#" class="anchor" data-imgurl="imgs/port3.png">
	<img src="imgs/port3.png"/>
</a>


