<p id="main_text">
	We are a creative agency <br>
	that codes with <span id="textChanged">.Passion</span>
</p>

<img class="port_img" src="files/imgs/port1.png"/>
<img class="port_img" src="files/imgs/port2.png"/>
<img class="port_img" src="files/imgs/port3.png"/>


