p {
	color: pink;
}
form {
	width: 300px;
	/*border: 1px solid black;*/
	margin: 0px auto;
	padding: 30px;
	overflow: hidden;
}
.response {
	text-align: center;
}
#SSS{
	border: 1px solid black;
}
#sendemail {
	text-align: center;
}
#formname {
/*display: inline-block;*/
/*margin-left: 50px;*/
float: left;
clear: left;
width: 300px;

}

#formemail {
/*display: inline-block;*/
margin-top: 10px;
/*margin-left: 50px;*/
clear: left;
float: left;
width: 300px;

}
#formsubject {
/*display: inline-block;*/
margin-top: 10px;
/*margin-left: 50px;*/
clear: left;
float: left;
width: 300px;


}
#formbody {
/*display: inline-block;*/
margin-top: 10px;
float: left;
clear: left;
height: 200px;
width: 300px;

/*eight: 100px;*/
}

#formsubmit {
	margin-top: 10px;
	float: left;
	clear: left;
}